$gray: #f8f8f8;

.customers {

  &__table {
    overflow: auto;
    max-height: 400px;

    &-header-row {
      position: sticky;
      top: 0;
      background: white;
      z-index: 1000;
    }

    &-row:hover {
      background-color: $gray;
    }
  }

  &__name-cell {
    cursor: pointer;
  }

  &__address-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  &__action-header-cell {
    display: flex;
    justify-content: center;
    max-width: 50px;
  }

  &__action-cell {
    display: flex;
    justify-content: center;
    max-width: 50px;
    cursor: pointer;
  }

}
