<div class="product" *ngIf="productForm">

  <form novalidate [formGroup]="productForm" (ngSubmit)="saveProduct(productForm)">
    <mat-card class="card">
      <mat-card-title class="card__title" *ngIf="productCopy">{{ productCopy.name }}
        <h6 class="card__subtitle">
          {{ productForm.value.createdAt | date }} - {{ productForm.value.updatedAt | date }}
        </h6>
      </mat-card-title>
      <mat-card-title class="card__title" *ngIf="!productForm.value.id">Add new product</mat-card-title>
      <mat-card-content class="card__content">

        <mat-form-field>
          <input matInput type="text" name="name" formControlName="name" placeholder="Name" required>
          <mat-hint align="end">
            <app-show-errors [control]="productForm.controls.name"></app-show-errors>
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" name="price" formControlName="price" placeholder="Price" required>
          <mat-hint align="end">
            <app-show-errors [control]="productForm.controls.price"></app-show-errors>
          </mat-hint>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button type="submit" color="primary"
                [disabled]="productForm.invalid || productForm.pristine">
          {{ productForm.value.id ? 'Update' : 'Save' }}
        </button>
        <button mat-raised-button type="button" (click)="deleteProduct()" color="warn" *ngIf="productForm.value.id">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
