.product-table {}

.product__action-header-cell {
  display: flex;
  justify-content: center;
  max-width: 50px;
}

.product__action-cell {
  display: flex;
  justify-content: center;
  max-width: 50px;
  cursor: pointer;
}

.product__label-info {
  text-align: center;
}
